body{
	font-family: 'Lato', sans-serif;
}

#resume{
	padding-left: 5%;
	padding-top: 2.5%;
	padding-right: 5%;
        padding-bottom: 2.5%;
}

#header{
        text-align: center;
        background-color: lightblue;
	padding-right: 5%;
	padding-left: 5%;
}

#header img{	
	/*border-radius: 50%;*/
	right: 0;
	float: right;
	bottom: 0;
	position: relative;
	width: 104px;
	display: inline;
}

#header h1{
	font-family: 'Major Mono Display', monospace;
	display: block;
}

#header a{
	color: black;
}

#content-nav a{
	color: black;
	text-decoration: none;
}

#contact{
	background-color: lightyellow;
}

.nav-item{
	margin-left: 3%;
	margin-right: 3%;
}

#content-nav{
	margin: 1% auto 1% auto;
	background-color: lightgreen;
}

#content{
	margin: 2% auto;
}

#content h2{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 120%;
	font-weight: bold;
}

#description, #experience, #projects, #education, #complementary-skills{
	margin: auto 5% auto 5%;
}

.resume-table {
    width: 100%;
    font-size: inherit;
    border-collapse: collapse;
}

.resume-table tbody{
	border-top: none;
}

.resume-table tr td:first-child {
    width: 50%;
    vertical-align: top;
    border-right: 1px solid #01527f;
    padding-right: 10px;
    font-weight: bold;
    text-align: right;
}
.resume-table tr td:last-child {
    padding-left: 10px;
}
.resume-table p {
    margin: 3 0;
    padding: 0;
}
.resume-table ul {
    margin: 5;
    padding-left: 30;
}

#footer{
	background-color: lightblue;
	margin-top: 3%;
	margin-bottom: 1%;
}

/*for mobile devices*/
@media all and (max-width:1080px) {    

	#content-nav{
		margin-top: 3%;
	}

    #header img{
    	display:block;
    	margin-right: auto;
    	margin-left: auto;
    	float: none;
    	padding-bottom: 1%;
	}

	#header h1{
		text-align: center;
		overflow: hidden;
		text-overflow: clip;
		white-space: nowrap;
		font-size: 2.3rem;
	}
}

.current_page_item {
  font-weight: bold;
}
